:root {
  /* Cores principais */
  --cor-primaria: #ffffff;
  --cor-secundaria: #571f50;
  --cor-terciaria: #7f624c;

  /* Cores de destaque */
  --cor-secundaria-light: #ffcad4;

  /* Cores neutras */
  --cor-branca: #fefefe;
  --cor-preta: #0e0e0e;
}

/* =================== main container =================== */
.container {
  width: 100%;
  height: 100%;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* =================== page 1 =================== */

.container__pageOne {
  width: 100%;
  height: 100vh;
  position: relative;
}

.header {
  width: 100%;
  height: 15vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--cor-branca);
}

.logo {
  width: 164px;
  margin-left: 5rem;
  margin-right: 5rem;
}

.navigation {
  width: 100%;

  display: flex;
  flex-direction: column;
  padding: 0.5rem 2rem;
}

.navigationHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 36px;

  margin-bottom: 0.5rem;
  padding: 0.5rem 0 0.5rem 0;

  border-bottom: 1px solid #00000030;
}

.navigationHeader img {
  width: 24px;
}

.phoneNumber {
  color: #571f50;
  font-weight: 500;
}

.navigationLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  gap: 20px;
}

.headerLink {
  color: #5b5b5b;
}

.headerBlock__adress {
  width: 600px;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: transparent;
}

.banner {
  width: 100%;
  height: 85vh;

  background-color: var(--cor-branca);
}

.bannerImage__container {
  width: 100%;
  height: 100%;

  position: relative;
}

.bannerImage {
  width: 454px;

  position: absolute;

  bottom: 0;
  right: 5rem;
  filter: drop-shadow(-36px 22px 8px #00000050);
  z-index: 1;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* padr達o */
}

@media screen and (min-height: 768px) and (max-height: 1000px) {
  .bannerImage {
    width: 554px;
  }
}

@media screen and (min-height: 1001px) and (max-height: 1400px) {
  .bannerImage {
    width: 654px;
    right: 1rem;
  }
}

/* .smallBannerImage1 {
  width: 200px;
  position: absolute;
  top: 3rem;
  right: 30rem;
  z-index: 5;
  border-radius: 50%;
  filter: drop-shadow(-36px 22px 8px #00000030);
}

.smallBannerImage2 {
  width: 164px;
  position: absolute;
  bottom: 2rem;
  right: 10rem;
  z-index: 5;
  border-radius: 50%;
  filter: drop-shadow(-16px 22px 8px #00000050);
} */

.bannerGradient {
  width: 100%;
  height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;

  background-color: transparent;
  z-index: 2;
}

h2,
h1 {
  font-family: "Figtree", sans-serif;
}

h1 {
  font-size: 4rem;
  width: 500px;
  margin-bottom: 2rem;

  color: #571f50;
  font-weight: 400;
  z-index: 500;
}

h2 {
  margin-bottom: 2rem;
  width: 400px;

  font-size: 1.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #571f50;
}

.viewServices__Button {
  width: fit-content;
  padding: 0.8rem 1rem;

  background-color: #571f50;
  text-align: center;
  text-transform: uppercase;
  font-family: "Figtree", sans-serif;
  letter-spacing: 1px;
  border: 2px solid #571f50;
  color: var(--cor-branca);

  transition: 0.3s ease-in-out;

  z-index: 5;
}

.viewServices__Button:hover {
  border: 2px solid #571f50;
  background-color: transparent;
  color: #571f50;
}

.waveMain__page {
  height: 150px;
  position: absolute;
  bottom: 0;
}

.randomForm_one {
  width: 500px;
  position: absolute;
  right: 3rem;
  top: 3rem;
}

.randomForm_two {
  width: 500px;
  position: absolute;
  right: 1rem;
  top: 3rem;
}

.openFormContainer {
  position: fixed;
  width: 80px;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  clip-path: circle(50% at 50% 50%);
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;

  background-color: #571f50;
}

.openFormContainer img {
  width: 50px;
  transition: 0.3s ease-in-out;
}

.openFormContainer img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .container__pageOne {
    overflow: hidden;
  }

  .header {
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-branca);
  }

  .logo {
    width: 100px;
    margin-left: 1rem;
    margin-right: 0rem;
  }

  .headerLink {
    font-size: 0.8rem;
  }

  .navigation {
    width: 50%;

    display: flex;
    flex-direction: column;
    padding: 0.5rem 0rem;
  }

  .navigationHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;

    margin-bottom: 0.5rem;
    padding: 0.5rem 0 0.5rem 0;

    border-bottom: 1px solid #00000030;
  }

  .phoneNumber {
    display: none;
  }

  .navigationHeader span:nth-child(1) {
    display: none;
  }

  .headerBlock__adress {
    display: none;
  }

  .navigationHeader img {
    width: 20px;
  }

  .waveMain__page {
    height: 150px;
    position: absolute;
    bottom: 0;
  }

  .randomForm_one {
    width: 350px;
    position: absolute;
    right: -15rem;
    top: 20rem;
  }

  .randomForm_two {
    width: 350px;
    position: absolute;
    right: -10rem;
    top: 15rem;
  }

  .bannerImage {
    width: 254px;

    position: absolute;

    bottom: 0;
    right: 0rem;
    filter: drop-shadow(-36px 22px 8px #00000050);
    z-index: 1;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* padr達o */
  }

  .bannerGradient {
    width: 100%;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 1rem;
    padding-top: 1rem;

    background-color: transparent;
    z-index: 2;
  }

  h2,
  h1 {
    font-family: "Figtree", sans-serif;
  }

  h1 {
    font-size: 2.5rem;
    width: 200px;
    margin-bottom: 3rem;

    color: #571f50;
    font-weight: 400;
  }

  h2 {
    margin-bottom: 2rem;
    width: 400px;

    font-size: 0.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #571f50;
  }

  .viewServices__Button {
    width: fit-content;
    padding: 0.8rem 1rem;

    background-color: #571f50;
    text-align: center;
    text-transform: uppercase;
    font-family: "Figtree", sans-serif;
    letter-spacing: 1px;
    border: 2px solid #571f50;

    font-size: 0.8rem;
    color: var(--cor-branca);

    transition: 0.3s ease-in-out;

    z-index: 5;
  }

  .viewServices__Button:hover {
    border: 2px solid #571f50;
    background-color: transparent;
    color: #571f50;
  }

  .openFormContainer {
    position: fixed;
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    clip-path: circle(50% at 50% 50%);
    bottom: 2rem;
    right: 2rem;
    z-index: 1000;

    background-color: #571f50;
  }

  .openFormContainer img {
    width: 26px;
    transition: 0.3s ease-in-out;
  }

  .openFormContainer img:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  .container__pageOne {
    overflow: hidden;
  }

  .header {
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-branca);
  }

  .logo {
    width: 126px;
    margin-left: 1rem;
    margin-right: 0rem;
  }

  .headerLink {
    font-size: 1rem;
  }

  .navigation {
    width: 70%;

    display: flex;
    flex-direction: column;
    padding: 0.5rem 0rem;
  }

  .navigationHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;

    margin-bottom: 0.5rem;
    padding: 0.5rem 0 0.5rem 0;

    border-bottom: 1px solid #00000030;
  }

  .phoneNumber {
    display: block;
  }

  .navigationHeader span:nth-child(1) {
    display: none;
  }

  .headerBlock__adress {
    display: none;
  }

  .navigationHeader img {
    width: 20px;
  }

  .waveMain__page {
    height: 150px;
    position: absolute;
    bottom: 0;
  }

  .randomForm_one {
    width: 380px;
    position: absolute;
    right: -15rem;
    top: 15rem;
  }

  .randomForm_two {
    width: 370px;
    position: absolute;
    right: -10rem;
    top: 10rem;
  }

  .bannerImage {
    width: 354px;

    position: absolute;

    bottom: 0;
    right: 0rem;
    filter: drop-shadow(-36px 22px 8px #00000050);
    z-index: 1;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* padr達o */
  }

  .bannerGradient {
    width: 100%;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;

    background-color: transparent;
    z-index: 2;
  }

  h2,
  h1 {
    font-family: "Figtree", sans-serif;
  }

  h1 {
    font-size: 3rem;
    width: 200px;
    margin-bottom: 2rem;

    color: #571f50;
    font-weight: 400;
  }

  h2 {
    margin-bottom: 2rem;
    width: 400px;

    font-size: 0.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #571f50;
  }

  .viewServices__Button {
    width: fit-content;
    padding: 0.8rem 1rem;

    background-color: #571f50;
    text-align: center;
    text-transform: uppercase;
    font-family: "Figtree", sans-serif;
    letter-spacing: 1px;
    border: 2px solid #571f50;
    color: var(--cor-branca);

    transition: 0.3s ease-in-out;

    z-index: 5;
  }

  .viewServices__Button:hover {
    border: 2px solid #571f50;
    background-color: transparent;
    color: #571f50;
  }

  .openFormContainer {
    position: fixed;
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    clip-path: circle(50% at 50% 50%);
    bottom: 2rem;
    right: 2rem;
    z-index: 1000;

    background-color: #571f50;
  }

  .openFormContainer img {
    width: 26px;
    transition: 0.3s ease-in-out;
  }

  .openFormContainer img:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1300px) {
  .container__pageOne {
    overflow: hidden;
  }

  .header {
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-branca);
  }

  .logo {
    width: 156px;
    margin-left: 5rem;
    margin-right: 0rem;
  }

  .headerLink {
    font-size: 1rem;
  }

  .navigation {
    width: 70%;

    display: flex;
    flex-direction: column;
    padding: 0.5rem 2rem;
  }

  .navigationHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 26px;

    margin-bottom: 0.5rem;
    padding: 0.5rem 0 0.5rem 0;

    border-bottom: 1px solid #00000030;
  }

  .phoneNumber {
    display: block;
  }

  .navigationHeader span:nth-child(1) {
    display: block;
  }

  .headerBlock__adress {
    display: block;
    width: 10%;
  }

  .navigationHeader img {
    width: 24px;
  }

  .waveMain__page {
    height: 160px;
    position: absolute;
    bottom: 0;
  }

  .randomForm_one {
    width: 380px;
    position: absolute;
    right: 0rem;
    top: 5rem;
  }

  .randomForm_two {
    width: 370px;
    position: absolute;
    right: 0rem;
    top: 3rem;
  }

  .bannerImage {
    width: 404px;

    position: absolute;

    bottom: 0;
    right: 0rem;
    filter: drop-shadow(-36px 22px 8px #00000050);
    z-index: 1;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* padr達o */
  }

  .bannerGradient {
    width: 100%;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;

    background-color: transparent;
    z-index: 2;
  }

  h2,
  h1 {
    font-family: "Figtree", sans-serif;
  }

  h1 {
    font-size: 2.5rem;
    width: 500px;
    margin-bottom: 2rem;

    color: #571f50;
    font-weight: 400;
  }

  h2 {
    margin-bottom: 2rem;
    width: 400px;

    font-size: 0.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #571f50;
  }

  .viewServices__Button {
    width: fit-content;
    padding: 0.8rem 1rem;

    background-color: #571f50;
    text-align: center;
    text-transform: uppercase;
    font-family: "Figtree", sans-serif;
    letter-spacing: 1px;
    border: 2px solid #571f50;
    color: var(--cor-branca);

    transition: 0.3s ease-in-out;

    z-index: 5;
  }

  .viewServices__Button:hover {
    border: 2px solid #571f50;
    background-color: transparent;
    color: #571f50;
  }
}
